<ifModule mod_rewrite.c>
    RewriteEngine On
    
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    RewriteCond ${RQUEST_FILE} !-d
    RewriteCond ${RQUEST_FILE} !-f
    RewriteRule ^  index.php
</ifModule>
